html{
	font-size: 100px;
}

*{
	padding: 0;margin: 0;
	list-style: none;
	font-family: "微软雅黑";
	text-decoration: none;
	color: #737373;
}
.headerBox{
	color: white;
}
h2{
	font-size: 80px;
	margin-bottom: 40px;
}
h3{
	color: #62636D;
	font-weight: 200;
	font-size: 32px;
	margin: 1rem 0 0.2rem 0
}
a{
	text-decoration: none;
	/*color: white;*/
}
.clearmarpadd{
	padding: 0 !important;
	margin: 0;
}
::-webkit-scrollbar {

        /*display: none;*/
    }
.fontSize1{
	font-size: 45px;
}
.fontColor1{
	color: #1786D9;
}
.height1{
	
}
.clearBox{
	clear: both;
}
.headerNavUl1 li:nth-of-type(1){
	padding-top: 0.1rem;
}
.indexBoxCom{
	width: 74%;
	margin: 0 auto;
}
.indexBox{
	width: 1.5rem;height: 0.07rem;background-color: #188BDA;margin: 0 auto;
}
#indexBox{
	width: 100%;
	overflow: hidden;
	font-size: 14px;
	text-align: center;
	background-color: #F5F6F7;
	margin: 0 auto;
}
.headerBox{
	width: 100%;
	height: 8.32rem;
	background: url(../img/backImg1.png) 100% no-repeat;
	color: white;
	text-align: center;
	padding-top: 15px;

}
.headerNav{
	width: 90%;
	margin: 0 auto;
	font-size: 16px;
	color: white;
}
.headerNav li{
	float: left;
}
.headerNav .headerNavLi1{
	float: right;
}
.headerNav .headerNavLi1 li{
	
	float: left;
	margin-left: 1rem;
	padding-top: 0.2rem;
	border-top: 0.03rem solid transparent;
}
.headerNav .headerNavLi1 li:hover{
	border-top: 0.03rem solid white;
	cursor: pointer;
}
.headerCont{
	margin-top: 2.5rem;
	padding: 0 15px;
}
.headerCont p{
	margin-top: 0.2rem;
}
.headerBtn{
	margin: 0 auto;
	margin-top: 1rem;
}
.headerCont .headerBtn button{
	width: 2.6rem;
	height: 0.7rem;
	border: 0.04rem solid white;
	background-color: transparent;
	border-radius: 0.1rem;
	margin: 0 1.2rem;

	font-size: 32px;
	transition: all 0.5s;
	position: absolute;
}
.headerCont .headerBtn button:nth-of-type(1){
	left: 4.5rem;
}
.headerCont .headerBtn button:nth-of-type(2){
	right: 4.5rem;
}
.headerCont .headerBtn button:hover{
	background-color: white;
	box-shadow: 0 0 0.1rem white;
	transition: all 0.5s;
}
.headerCont .headerBtn button a{
	text-decoration: none;
	color: white;
}
.headerCont .headerBtn button a:hover{
	color: #1786D9;
}
.serviceScopeBox{
	position: relative;
	width: 100%;
	padding-bottom: 1rem;
}
.serviceScopeCont1{
	position: absolute;
	top: -0.5rem;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: #F5F6F7;
	width: 80%;
	padding-top: 1rem;
}
.serviceScopeCont2{
	/*height: 7.45rem;*/
	width: 100%;
	background-color: #F5F6F7;
	position: relative;
	text-align: center;
}
.serviceScopeCont1 h3{
	color: #62636D;
	font-weight: 200;
	font-size: 32px;
	margin: 0.2rem 0;
}
.serviceScopeCont1 .p1{
	width:80%;
	margin: 0 auto;
	margin-top: 0.5rem;
	font-size: 20px;
	text-align: left;
	text-indent: 40px;
}
.color1{
	color: white;
}
/*.serviceScopeCont2 img{
	position: absolute;
}
.serviceScopeCont2 img:nth-of-type(1){
	top: 0.3rem;left: 0;
}
.serviceScopeCont2 img:nth-of-type(5){
	top: 0.3rem;right: 0;
}
.serviceScopeCont2 img:nth-of-type(2){
	top: 0;left: 2.5rem;
}
.serviceScopeCont2 img:nth-of-type(4){
	top: 0;right: 2.5rem;
	z-index: 10;
}
.serviceScopeCont2 img:nth-of-type(3){
	top: -.8rem;
	left: 33.5%;
	z-index: 20;
}*/
.indexMargingBox{
	height: 0.26rem;
	width: 100%;
	background:url(../img/rectangular1.png);
}
.processImageBox{
	width: 100%;
}
.caseShowBox{
	padding-bottom: 0.8rem;
}
.processImageBox hr,.caseShowBox hr,.aboutUsBox hr{
	background-color: #188BDA;
	border: none;
	outline: none;
	height: 0.01rem;
	width: 8rem;
	margin: 0 auto;
}
.layeredBox{
	position: relative;	
}
.layeredBox .indexBox{
	position: absolute;
	top: -0.035rem;
	left: 45%;
	right: 45%;
}
.pstyle1{
	margin: 0.5rem 0;
	font-size: 16px;
	padding: 0 0.15rem;
}
.processImageBox .show li{
	float: left;
	width: 12.5%;
	height: 3.6rem;
	position: relative;
}
.processImageBtn{
	background-color: white;
	color: #515151;
	padding: 0.08rem 0.18rem;
	font-size: 18px;
	border-radius: 0.08rem;
	outline: none;
	border: none;
	box-shadow: 0 .02rem 0.05rem darkgray;
	margin-bottom: 0.35rem;
}
.proceImageShow1{
	position: absolute;
	bottom: 0;
}
.balloonBox{
	margin: 0 auto;
}
.balloonBox div{
	margin: 0 auto;
}
.balloonBox hr{
	width: 0.03rem;
}
.balloonBox .proceImgHr1{height: 2rem;background-color: #30BDF5;animation: ballonKey1 6s infinite;}
.balloonBox .proceImgHr2{height: 0.8rem;background-color: #30BDF5;animation: ballonKey2 6s infinite linear;}
.balloonBox .proceImgHr3{height: 1.2rem;background-color: #25DBAA;animation: ballonKey3 6s infinite linear;}
.balloonBox .proceImgHr4{height: 0.6rem;background-color: #30BDF5;animation: ballonKey4 6s infinite linear;}
.balloonBox .proceImgHr5{height: 1.6rem;background-color: #4D8CF5;animation: ballonKey5 6s infinite linear;}
.balloonBox .proceImgHr6{height: 0.4rem;background-color: #25DBAA;animation: ballonKey6 6s infinite linear;}
.balloonBox .proceImgHr7,.balloonBox .proceImgHr8{background-color: #5E71F4;}
.balloonBox .proceImgHr7{height: 1.1rem;animation: ballonKey7 6s infinite linear;}
.balloonBox .proceImgHr8{height: 1.8rem;animation: ballonKey8 6s infinite linear;}
@-moz-keyframes ballonKey1{
	0%{
		height: 2rem;
	}
	50%{
		height: 1.2rem;
	}
	100%{
		height: 2rem;
	}
}
@-ms-keyframes ballonKey1{
	0%{
		height: 2rem;
	}
	50%{
		height: 1.2rem;
	}
	100%{
		height: 2rem;
	}
}
@-webkit-keyframes ballonKey1{
	0%{
		height: 2rem;
	}
	50%{
		height: 1.2rem;
	}
	100%{
		height: 2rem;
	}
}
@keyframes ballonKey1{
	0%{
		height: 2rem;
	}
	50%{
		height: 1.2rem;
	}
	100%{
		height: 2rem;
	}
}

@-moz-keyframes ballonKey2{
	0{
		height: 0.8rem
	}
	50%{
		height: 1.5rem
	}
	100%{
		height: 0.8rem
	}
}
@-ms-keyframes ballonKey2{
	0{
		height: 0.8rem
	}
	50%{
		height: 1.5rem
	}
	100%{
		height: 0.8rem
	}
}
@-webkit-keyframes ballonKey2{
	0{
		height: 0.8rem
	}
	50%{
		height: 1.5rem
	}
	100%{
		height: 0.8rem
	}
}
@keyframes ballonKey2{
	0{
		height: 0.8rem
	}
	50%{
		height: 1.5rem
	}
	100%{
		height: 0.8rem
	}
}


@-moz-keyframes ballonKey3{
	0%{
		height: 1.2rem;
	}
	30%{
		height: 0.5rem;
	}
	65%{
		height: 1.8rem;
	}
	100%{
		height: 1.2rem;
	}
}
@-ms-keyframes ballonKey3{
	0%{
		height: 1.2rem;
	}
	30%{
		height: 0.5rem;
	}
	65%{
		height: 1.8rem;
	}
	100%{
		height: 1.2rem;
	}
}
@-webkit-keyframes ballonKey3{
	0%{
		height: 1.2rem;
	}
	30%{
		height: 0.5rem;
	}
	65%{
		height: 1.8rem;
	}
	100%{
		height: 1.2rem;
	}
}
@keyframes ballonKey3{
	0%{
		height: 1.2rem;
	}
	30%{
		height: 0.5rem;
	}
	65%{
		height: 1.8rem;
	}
	100%{
		height: 1.2rem;
	}
}

@-moz-keyframes ballonKey4{
	0{
		height: 0.6rem;
	}50%{
		height: 1.3rem;
	}100%{
		height: 0.6rem;	
	}
}
@-ms-keyframes ballonKey4{
	0{
		height: 0.6rem;
	}50%{
		height: 1.3rem;
	}100%{
		height: 0.6rem;	
	}
}
@-webkit-keyframes ballonKey4{
	0{
		height: 0.6rem;
	}50%{
		height: 1.3rem;
	}100%{
		height: 0.6rem;	
	}
}
@keyframes ballonKey4{
	0{
		height: 0.6rem;
	}50%{
		height: 1.3rem;
	}100%{
		height: 0.6rem;	
	}
}

@-moz-keyframes ballonKey5{
	0{
		height: 1.6rem;
	}25%{
		height: 1rem;
	}50%{
		height: 0.6rem;
	}75%{
		height: 1rem;
	}100%{
		height: 1.6rem;
	}
}
@-ms-keyframes ballonKey5{
	0{
		height: 1.6rem;
	}25%{
		height: 1rem;
	}50%{
		height: 0.6rem;
	}75%{
		height: 1rem;
	}100%{
		height: 1.6rem;
	}
}
@-webkit-keyframes ballonKey5{
	0{
		height: 1.6rem;
	}25%{
		height: 1rem;
	}50%{
		height: 0.6rem;
	}75%{
		height: 1rem;
	}100%{
		height: 1.6rem;
	}
}
@keyframes ballonKey5{
	0{
		height: 1.6rem;
	}25%{
		height: 1rem;
	}50%{
		height: 0.6rem;
	}75%{
		height: 1rem;
	}100%{
		height: 1.6rem;
	}
}
@-moz-keyframes ballonKey6{
	0{
		height: 0.4rem;
	}50%{
		height: 1.2rem;
	}100%{
		height: 0.4rem;
	}
}
@-ms-keyframes ballonKey6{
	0{
		height: 0.4rem;
	}50%{
		height: 1.2rem;
	}100%{
		height: 0.4rem;
	}
}
@-webkit-keyframes ballonKey6{
	0{
		height: 0.4rem;
	}50%{
		height: 1.2rem;
	}100%{
		height: 0.4rem;
	}
}
@keyframes ballonKey6{
	0{
		height: 0.4rem;
	}50%{
		height: 1.2rem;
	}100%{
		height: 0.4rem;
	}
}

@-moz-keyframes ballonKey7{
	0{
		height: 1.1rem;
	}50%{
		height: 1.6rem;
	}100%{
		height: 1.1rem;
	}
}
@-ms-keyframes ballonKey7{
	0{
		height: 1.1rem;
	}50%{
		height: 1.6rem;
	}100%{
		height: 1.1rem;
	}
}
@-webkit-keyframes ballonKey7{
	0{
		height: 1.1rem;
	}50%{
		height: 1.6rem;
	}100%{
		height: 1.1rem;
	}
}
@keyframes ballonKey7{
	0{
		height: 1.1rem;
	}50%{
		height: 1.6rem;
	}100%{
		height: 1.1rem;
	}
}

@-moz-keyframes ballonKey8{
	0{
		height: 1.8rem;
	}25%{
		height: 1.2rem;
	}50%{
		height: 0.4rem;
	}75%{
		height: 1.2rem;
	}100%{
		height: 1.8rem;
	}
}
@-ms-keyframes ballonKey8{
	0{
		height: 1.8rem;
	}25%{
		height: 1.2rem;
	}50%{
		height: 0.4rem;
	}75%{
		height: 1.2rem;
	}100%{
		height: 1.8rem;
	}
}
@-webkit-keyframes ballonKey8{
	0{
		height: 1.8rem;
	}25%{
		height: 1.2rem;
	}50%{
		height: 0.4rem;
	}75%{
		height: 1.2rem;
	}100%{
		height: 1.8rem;
	}
}
@keyframes ballonKey8{
	0{
		height: 1.8rem;
	}25%{
		height: 1.2rem;
	}50%{
		height: 0.4rem;
	}75%{
		height: 1.2rem;
	}100%{
		height: 1.8rem;
	}
}
.backColor1{
	background-color: #30BDF5;
}
.backColor2{
	background-color: #25DBAA;
	
}
.backColor3{
	background-color: #4D8CF5;
}
.backColor4{
	background-color: #5E71F4;
}
.balloonBoxC{
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 1rem;
	position: relative;
}
.balloonBoxC div{
	width: 0.7rem;
	height: 0.7rem;
	position: absolute;
	top: 0.05rem;
	left: 0.05rem;
	border-radius: 1rem;
	box-shadow: 0 0 0 0.05rem rgba(255,255,255,0.8);
}


.backImgBox{
	width: 100%;
	height: 6.77rem;
	background-image: url(../img/backImg2.png);
	background-position: 0 -0.08rem;
}
.smallicon{
	width: 50%;
	height: 68%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	margin-top: -30%;
	margin-left: -25%;
	outline: 1px solid red;
	
}
.smallicon div{
	height: 100%;
	width: 100%;
	/*line-height: 50%;*/
	position: relative;
	background-color: yellow;
}
.smallicon div img{
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -50%;
	margin-top: -50%;
	
	/*vertical-align: middle;*/
}


/*适配*/
.backImgBox .leftBox{
	float: left;
	width: 63%;
	padding: 2.5rem 0 0 0;
}
.backImgBox .leftBox .leftBoxRow li{
	float: left;
	font-size: 24px;
	color: white;
	margin-bottom: 0.35rem;
}
.backImgBox .leftBox .leftBoxRow:nth-child(1){
	margin-left: 2.6rem;
}
.backImgBox .leftBox .leftBoxRow:nth-child(2){
	margin-left: 7rem;
}
.backImgBox .leftBox .leftBoxRow:nth-child(3){
	margin-left: 1.4rem;
}
.backImgBox .leftBox .leftBoxRow:nth-child(4){
	margin-left: 4.2rem;
}
.backImgBox .leftBox .leftBoxRow:nth-child(5){
	margin-left: 9rem;
}
.backImgBox .outerBox{
	width: 0.18rem;
	height: 0.18rem;
	margin-top: 0.045rem;
	border-radius: 0.1rem;
	margin-right: 0.1rem;
	position: relative;
}
.backImgBox .innerBox{
	width: 0.08rem;
	height: 0.08rem;
	border-radius: 0.1rem;
	position: absolute;
	top: 0.05rem;
	left: 0.05rem;
	box-shadow: 0 0 0 0.05rem rgba(255,255,255,1);
}
.backImgBox .rigthBox{
	float: right;
	width: 32%;
	text-align: left;
	font-family: "comic sans ms";
	color: white;
}
.backImgBox .rigthBox h3{
	font-weight: 600;
	color: white;
	font-size: 44px;
	margin-bottom: 0.6rem;
}
.backImgBox .rigthBox p{
	width: 75%;
	font-size: 22px;
	line-height: 0.4rem;
	margin-bottom: 0.6rem;
}
.backImgBox .rigthBox button{
	height: 0.5rem;
	width: 2rem;
	border: none;
	outline: none;
	border-radius: 0.08rem;
	color: #4D8CF5;
	font-size: 18px;
	background-color: white;
	box-shadow: 0 0 0.4rem 0.08rem #3D4ED1;
}
.severeve{
	padding: 0 30px;
}




.caseShowCont,.aboutUsCont{
	width: 74%;
	margin: 0 auto;
}
.caseShowCont,.aboutUsCont,.indexFootCont1{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.caseShowCont .caseShowContBox{
	width: 4.41rem;
	background-color: white;
	box-shadow: 0 0 0.05rem 0.02rem rgba(230,229,229,0.8);
	border-radius: 0.1rem;
	position: relative;
	overflow: hidden;
	margin-bottom: 0.2rem;
}
.caseShowCont .caseShowContBox .hoverImgBox{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	background:url(../img/blue.png) cover no-repeat;
}
.hoverImgBox h3{
	color: white;
	font-size: 50px;
}
.hoverImgBox img{
	width: 30%;
}
.caseShowContHeader{
	padding: 0.15rem 0.2rem;
}
.caseShowContHeader li{
	float: left;
	line-height: 0.57rem;
	color: #515151;
	font-size: 0;
}
.caseShowContHeader li:nth-of-type(2){
	margin-left: 0.1rem;
	font-size: 24px;
}
.caseShowContHeader li:nth-of-type(3){
	float: right;
}
.caseShowContHeader img{
	vertical-align: middle;
}
.caseShowContImg .caseShowContImg img{
	width: 100%;
}
.caseShowContBox p{
	margin: 0.2rem;
	text-align: left;
	color: #515151;
	font-size: 16px;
}
.aboutUsBox{
	padding-bottom: 1rem;
}
.aboutUsCont .outerBox{
	width: 2.8rem;
	height: 2.8rem;
	background-color: #E9EBEC;
	border-radius: 2rem;
	position: relative;
	box-shadow:0 0 0 0 transparent;
	transform: box-shadow 0.5s;
}
.aboutUsCont .innerBox,.aboutUsCont .innerOne1,.aboutUsCont .innerTwo2,.aboutUsCont .innerThree3{
	width: 2.6rem;
	height: 2.6rem;
	border-radius: 2rem;
}
.aboutUsCont .innerBox{
	position: absolute;
	top: 0.1rem;
	left: 0.1rem;
	box-shadow: 0 0 0 0 transparent;
	transition: box-shadow 0.5s;
}
.aboutUsCont .innerOne1{
	background: url(../img/rotate1.png) no-repeat center;   /*旋转前的图片的路径*/
	transition: all 0.5s;
}
.aboutUsCont .innerBox:hover .innerOne1{
	background: url(../img/rotate1-1.png) center no-repeat;
	transform: rotateY(180deg);
	transition: all 0.5s;
}
.aboutUsCont .innerTwo2{
	background: url(../img/rotate2.png) center no-repeat;   /*旋转前的图片的路径*/
	transition: all 0.5s;
}
.aboutUsCont .innerBox:hover .innerTwo2{
	background: url(../img/rotate2-2.png) center no-repeat;
	transform: rotateY(180deg);
	transition: all 0.5s;
}
.aboutUsCont .innerThree3{
	background: url(../img/rotate3.png) center no-repeat;   /*旋转前的图片的路径*/
	transition: all 0.5s;
}
.aboutUsCont .innerBox:hover .innerThree3{
	background: url(../img/rotate3-3.png) center no-repeat;
	transform: rotateY(180deg);
	transition: all 0.5s;
}
.aboutUsCont .outerBox:hover{
	box-shadow: 0 0 0.1rem 0.02rem darkgray;
	transition: all 0.5s;
}
.aboutUsCont .innerBox:hover{
	box-shadow: 0 0 0 0.1rem white;
	transition: all 0.5s;
}
.aboutUsCont h4{
	margin: 0.5rem 0 0.1rem 0;
	font-size: 30px;
	color: #62636D;
	font-weight: 500;
}
.aboutUsCont p{
	color: #868787;
	font-size: 18px;
}
.indexFootBox{
	height: 6.43rem;
	width: 100%;
	background: url(../img/backImg3.png) no-repeat;
	color: white;
	font-size: 16px;
}
.indexFootInner{
	/*width: 70%;*/
	margin: 0 auto;
	padding-top: 1rem;
}
.indexFootCont1{
	margin-bottom: 0.7rem;
	
	
}
.indexFootCont1 li{
	text-align: left;
	margin-bottom: 0.2rem;
}
.indexFootCont1 i{
	font-size: 80px;
}
.indexFootCont1 img{
	font-size: 0;
	width: 100%;
	vertical-align: middle
}
.indexFootCont1 span{
	padding-bottom: 0.15rem;
	border: 0.03rem solid transparent;
}
.indexFootCont1 span:hover{
	border-bottom: 0.03rem solid white;
}
.indexFootCont2{
	font-size: 18px;
}
.indexFootCont2 span{
	margin: 0 0.05rem;
}
.indexFootInner hr{
	width: 0.01rem;
	height: 1.5rem;
	background-color: white;
	outline: none;
	border: none;
}
.indexFootInner .horizontalLine{
	width: 100%;
	height: 0.01rem;
	background-color: rgba(255,255,255,0.7);
}
.footHrBox{
	position: relative;
}
.footHrBox div{
	width: 0.08rem;
	height: 0.08rem;
	background-color: white;
	position: absolute;
	top: 0;
	left: -0.035rem;
	border-radius: 0.1rem;
	box-shadow: 0 0 0.1 0.02rem white;
}
.footHrBox div:nth-of-type(1){
	top: 0.25rem;
}
.footHrBox div:nth-of-type(2){
	top: 0.6rem;
}
.footHrBox div:nth-of-type(3){
	top: 1rem;
}
.fontColor2{
	color: #949496;
}
.fontColor3{
	color: #474747;
}

.backImgBox{
	text-align: center;
}

.backImgBox img{
	width: 100%;
}
.backImgBox h3{
	padding-top: 1.5rem;
	padding-bottom: 0.3rem;
	color: white;
	font-size: 32px;
	margin-top: 0;
}
.backImgBox h4{
	padding: 0.12rem 0;
	font-size: 28px;
	color: white
	
}
.backImgBox p{
	font-size: 18px;
	color: white;
}

.backimginner img{
	width: 80%;
}

/*媒体查询*/
@media only screen and (min-width: 1801px) and (max-width: 1920px) {
	.caseShowCont .caseShowContBox{
		width: 4.3rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(5){
		margin-left: 8rem;
	}
}
@media only screen and (min-width: 1701px) and (max-width: 1800px){
	.caseShowCont .caseShowContBox{
		width: 4rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(5){
		margin-left: 7.5rem;
	}
}
@media only screen and (min-width: 1601px) and (max-width: 1700px) {
	.headerCont .headerBtn button:nth-of-type(1){
		left: 3.5rem;
	}
	.headerCont .headerBtn button:nth-of-type(2){
		right: 3.5rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(5){
		margin-left: 6.2rem;
	}
	.caseShowCont .caseShowContBox{
		width: 3.8rem;
	}
}
@media only screen and (min-width: 1501px) and (max-width: 1600px) {
	.caseShowCont .caseShowContBox{
		width: 4.2rem;
	}
	.backImgBox .leftBox{
		padding: 1.5rem 0 0 0;
	}
}
@media only screen and (min-width: 1441px) and (max-width: 1500px) {
	.caseShowCont .caseShowContBox{
		width: 4.05rem;
	}
	.backImgBox .leftBox{
		padding: 1.5rem 0 0 0;
	}
}
@media only screen and (min-width: 1441px) and (max-width: 1600px) {
	.headerCont .headerBtn button:nth-of-type(1){
		left: 3rem;
	}
	.headerCont .headerBtn button:nth-of-type(2){
		right: 3rem;
	}
	.backImgBox .leftBox{
		width: 55%;
		
	}
	.backImgBox .leftBox .leftBoxRow li{
		margin-bottom: 0.35rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(1){
		margin-left: 1.8rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(2){
		margin-left: 5.5rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(3){
		margin-left: 0.8rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(4){
		margin-left: 3.8rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(5){
		margin-left: 5.2rem;
	}
	.backImgBox .rigthBox{
		width: 40%;
	}
	.caseShowCont,.aboutUsCont{
		width: 86%;
		margin: 0 auto;
	}
}
@media only screen and (min-width: 1367px) and (max-width: 1440px) {
	.caseShowCont .caseShowContBox{
		width: 4.3rem;
	}
}
@media only screen and (min-width: 1367px) and (max-width: 1440px) {
	.headerCont .headerBtn button:nth-of-type(1){
		left: 2.5rem;
	}
	.headerCont .headerBtn button:nth-of-type(2){
		right: 2.5rem;
	}
	.backImgBox .leftBox{
		width: 55%;
		padding: 1.5rem 0 0 0;
	}
	.backImgBox .leftBox .leftBoxRow li{
		margin-bottom: 0.35rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(1){
		margin-left: 2.2rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(2){
		margin-left: 4.5rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(3){
		margin-left: 0.5rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(4){
		margin-left: 3rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(5){
		margin-left: 4.5rem;
	}
	.backImgBox .rigthBox{
		width: 40%;
	}
	.caseShowCont,.aboutUsCont{
		width: 64%;
		margin: 0 auto;
	}	
}

@media only screen and (min-width: 1281px) and (max-width: 1366px) {
	.caseShowCont .caseShowContBox{
		width: 4.3rem;
	}
}
@media only screen and (min-width: 1281px) and (max-width: 1366px) {
	.headerCont .headerBtn button:nth-of-type(1){
		left: 2rem;
	}
	.headerCont .headerBtn button:nth-of-type(2){
		right: 2rem;
	}
	.backImgBox .leftBox{
		width: 50%;
		padding: 1.4rem 0 0 0;
	}
	.backImgBox .leftBox .leftBoxRow li{
		margin-bottom: 0.35rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(1){
		margin-left: 1.8rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(2){
		margin-left: 3.5rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(3){
		margin-left: 0.5rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(4){
		margin-left: 2.2rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(5){
		margin-left: 3.5rem;
	}
	.backImgBox .rigthBox{
		width: 45%;
	}
	.caseShowCont,.aboutUsCont{
		width: 68%;
		margin: 0 auto;
	}
}
@media only screen and (min-width: 1025px) and (max-width: 1150px) {
	.caseShowCont .caseShowContBox{
		width: 3.72rem;
	}
	.aboutUsCont .outerBox{width: 2.4rem;height: 2.4rem;}
	.aboutUsCont .innerBox, .aboutUsCont .innerOne1, .aboutUsCont .innerTwo2, .aboutUsCont .innerThree3{width: 2.2rem;height: 2.2rem;}
	.backImgBox .leftBox{
		width: 45%;
	}
	.backImgBox .rigthBox{
		width: 50%;
	}
	
	.backImgBox .leftBox .leftBoxRow:nth-child(1){
		margin-left: 0.5rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(2){
		margin-left: 0.5rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(3){
		margin-left: 0.5rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(4){
		margin-left: 0.5rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(5){
		margin-left: 0.5rem;
	}
	.backImgBox .rigthBox h3{
		font-size: 38px;
	}
	.backImgBox .leftBox{
		
		padding: 1.4rem 0 0 0;
	}
}
@media only screen and (min-width: 1151px) and (max-width: 1280px) {
	.caseShowCont .caseShowContBox{
		width: 4.2rem;
	}
	.backImgBox .leftBox{
		width: 50%;
	}
	.backImgBox .rigthBox{
		width: 45%;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(1){
		margin-left: 1.4rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(2){
		margin-left: 2.5rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(3){
		margin-left: 0.3rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(4){
		margin-left: 1.5rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(5){
		margin-left: 2.3rem;
	}
	.backImgBox .leftBox{
		
		padding: 1.8rem 0 0 0;
	}
}
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
	.indexFootInner{
		padding-top: 0.8rem;
	}
	.headerCont .headerBtn button:nth-of-type(1){
		left: 1.2rem;
	}
	.headerCont .headerBtn button:nth-of-type(2){
		right: 1.2rem;
	}
	
	.backImgBox .leftBox .leftBoxRow li{
		margin-bottom: 0.35rem;
	}
	
	
	.serviceScopeCont2{
		/*height: 5.45rem;*/
	}
}

@media only screen and (min-width: 300px) and (max-width: 1024px) {
	.backImgBox .leftBox{
		width: 40%;
		padding: 1rem 0 0 0;
		font-size: ;
	}
	.backImgBox .leftBox .leftBoxRow li{
		margin-bottom: 0.35rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(1){
		margin-left: 0.5rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(2){
		margin-left: 0.5rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(3){
		margin-left: 0.5rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(4){
		margin-left: 0.5rem;
	}
	.backImgBox .leftBox .leftBoxRow:nth-child(5){
		margin-left: 0.5rem;
	}
	.backImgBox .rigthBox{
		width: 55%;
	}
	.backImgBox .rigthBox button{
		margin-left: 0.2rem;
	}
	.caseShowCont,.aboutUsCont{
		width: 95%;
		margin: 0 auto;
	}
	.indexFootInner{
		width: 95%;
		font-size: 30px;
		padding-top: 0.4rem;
	}
	.indexFootCont1{
		margin-bottom: 0.25rem;
	}
	.processImageBtn{
		padding: 0.08rem;
		font-size: 22px;
	}
	.indexBoxCom{
		width: 90%;
	}
}
@media only screen and (max-width: 1606px) {
	/*.indexFootInner{
		padding-top: 0.2rem;
	}*/
}


/*移动端*/
@media only screen and (max-width: 1024px) {
	.indexFootInner{
		padding-top: 0.2rem;
	}
	.indexFootBox{
		height: 7rem;
		background-size: cover;
	}
	h2{
		font-size: 60px;
	}
	h3{
		font-size: 40px;
	}
	.fontSize1{
		font-size: 42px;
	}
	.headerNav{
		font-size: 30px;
	}
	.headerNav .headerNavLi1 li{
		margin-left: 0.5rem;
		font-weight: 600;
	}
	.pstyle1{
		font-size: 21px;
	}
	.serviceScopeCont1 h3{
		font-size: 40px;
	}
	.serviceScopeCont1 .p1{
		font-size: 26px;
		width: 100%;
		margin-top: 0.3rem;
	}
	.caseShowContHeader li:nth-of-type(2){
		font-size: 36px;
	}
	.backImgBox .leftBox .leftBoxRow li,.backImgBox .rigthBox p,.caseShowContBox p{
		font-size: 28px;
	}
	.backImgBox .rigthBox button{
		font-size: 30px;
	}
	.aboutUsCont h4{
		font-size: 36px;
	}
	.aboutUsCont p{
		font-size: 23px;
	}
	.indexFootCont2{
		font-size: 20px;
	}
}

@media only screen and (max-width: 900px) {
	.backImgBox .leftBox .leftBoxRow li, .backImgBox .rigthBox p, .caseShowContBox p{
		font-size: 22px;
	}
	.backImgBox .leftBox{
		width: 100%;
		padding: 0;
		padding-top: 0.2rem;
	}
	.backImgBox .leftBox .leftBoxRow li{
		margin-bottom: 0.05rem;
	}
	.backImgBox .rigthBox{
		width: 100%;
		padding: 0 0.5rem;
	}
	.backImgBox .rigthBox h3{
		margin-bottom: 0.05rem;
	}
	h3{
		margin: 0.25rem 0 0 0;
	}
	.backImgBox .rigthBox p{
		margin-bottom: 0.3rem;
	}
	
	.headerCont .headerBtn button:nth-of-type(1){
		left: 3.5rem;
	}
	.headerCont .headerBtn button:nth-of-type(2){
		right: 3.5rem;
	}
	.headerCont .headerBtn button{
		width: 1.4rem;
		height: 0.45rem;
		font-size: 22px;
	}
	.headerNav{
		font-size: 22px;
	}
	h2{
		font-size: 48px;
	}
	.fontSize1{
		font-size: 32px;
	}
	.headerCont{
		margin-top: 1rem;
	}
	.headerBtn{
		margin-top: 0.5rem;
	}
	.headerBox{
		height: 5rem;
	}
	
	.aboutUsCont .outerBox{width: 2rem;height: 2rem;}
	.aboutUsCont .innerBox, .aboutUsCont .innerOne1, .aboutUsCont .innerTwo2, .aboutUsCont .innerThree3{width: 1.8rem;height: 1.8rem;}
	.aboutUsCont h4{
		font-size: 30px;
	}
	.aboutUsCont p{
		font-size: 18px;
	}
	.indexFootInner{
		font-size: 20px;
	}
	.indexFootCont1 img{
		max-width: 80%;
	}
	.footHrBox{
		margin-left: 0.5rem;
		margin-right: 0.25rem;
	}

}

@media only screen and (max-width: 772px) {
	.headerNav{
		font-size: 18px;
	}
	h2{
		font-size: 40px;
	}
	.fontSize1{
		font-size: 28px;
	}
}

@media only screen and (min-width: 1025px) and (max-width: 1360px) {
	h2{
		font-size: 60px;
	}
}

@media only screen and (max-width: 1200px) {
	.backImgBox h3{
		padding-top: 0.3rem;
		padding-bottom: 0;
	}
	.backimginner img{
		width: 65%;
	}
	.backImgBox h4{
		padding: 0;
	}
	.severeve{
		margin-bottom: 0.1rem;
	}
	.backImgBox h4{
		font-size: 28px;
	}
	.backImgBox p{
		font-size: 16px;
	}
}


#detail{
	width: 100%;
	overflow: hidden;
	position: relative;
}
#detail .headerBox{
	width: 100%;
}
#detail .headerBox{
	height: 1rem;
	background: url("");
	background-color: transparent;
	position: absolute;
}
#imgDetail{
	width: 100%;
}


/*新增*/
.serviceinner{
	margin-top: 1rem !important;
}
.serviceinner li{
	color: black;
	float: left;
	width: 20%;
	opacity: 1;
	position: relative;
}
.serviceinner li:hover{
	/*animation:fadeInUp .25s, 100ms;*/
	/*animation: fadeInUp 1s;*/
}
.serviceinner img{
	width: 100%;
}
.serviceinner .imgbox{
	font-size: 0;
	position: relative;
}
.serviceinner a{
	text-decoration: none;
}
.serviceinner h4,.serviceinner p{
	
	padding: 0 10px;
}
.serviceinner h4{
	color: #62636D;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.serviceinner p{
	color: #868687;
	font-size: 12px;
}
.serviceinner .touyinbox{
	width: 100%;
	height: 15px;
	background-color: transparent;
	border-radius: 50%;
	box-shadow: 0 35px 20px rgba(0,0,0,0.4);
	position: absolute;
	bottom: 0;
	display: none;
}





#contactmsg{
	max-width: 800px;
	background-color: rgba(0,0,0,0.3);
	padding: 20px 0;
	position: relative;
}
#errotishibtn{
	padding: 10px;
	outline: none;
	border: gainsboro;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25%;
	margin-left: -50%;
	display: none;
	background-color: rgba(0,0,0,0.3);
	color: white;
}
#contactmsg input{
	width: 29%;
	outline: none;
	border: none;
	padding: 3px 5px;
	border-radius: 5px;
	border: 1px solid gainsboro;
}
#contactmsg textarea{
	width: 89%;
	height: 100px;
	margin: 15px 0;
	border: 1px solid gainsboro;       
}
#contactmsg #tijiao{
	background-color: transparent;
	border: 1px solid white;
	color: white;
	padding: 2px 0;
	padding: 5px 50px;
	border-radius: 5px;
}
input::-webkit-input-placeholder { /* WebKit browsers */ 
font-size: 12px;
color: #62636D; 

} 

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
font-size: 12px;
color: #62636D; 
} 

input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
font-size: 12px;
color: #62636D; 

} 

input:-ms-input-placeholder { /* Internet Explorer 10+ */ 
font-size: 12px;
color: #62636D; 

} 


.everbox{
	transform: translateY(0);
	transition: all 1s;
}
.everbox:hover{
	transform: translateY(-20px);
	transition: all 1s;
}

